{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
		<aside id="fh5co-hero" class="js-fullheight">
			<div class="flexslider js-fullheight">
				<ul class="slides">
			   	<li style="background-image: url(images/slide_1.jpg);">
			   		<div class="overlay-gradient"></div>
			   		<div class="container">
			   			<div class="col-md-8 col-md-offset-2 col-md-push-4 js-fullheight slider-text">
			   				<div class="slider-text-inner">
			   					<div class="desc">
			   						<span>History of Words</span>
			   						<h2>About Us</h2>
                                    <p class="fh5co-lead">Designed with <i
                                            class="icon-heart3"></i>
                                        by <a href="https://mail.google.com/mail/u/0/?pli=1#inbox?compose=CllgCHrgltVWpbHqBSnVSnDFbLRtJHzTPdxHhnhfwlSNvwLQGXqfKNJCFwGWDkmvWLmQlpNKbDB">Apo</a></p>

			   					</div>
			   				</div>
			   			</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>
		

		<div id="fh5co-about">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center animate-box">
						<div class="about-content">
							<h3>History</h3>
							<blockquote>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quo est quis mollitia ratione magni assumenda repellat atque modi temporibus tempore ex. Dolore facilis ex sunt ea praesentium expedita numquam. Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita.</p>
							</blockquote>
						</div>
					</div>
				</div>

			</div>
		</div>

{% endblock %}